
@media (max-width:1724px) {
    .menu__navar{
         justify-content: space-around;
    } 
 
    .information__photo {
         flex-basis: 42%;
     }
    .information__info {
         flex-basis: 56%;
         padding-left: 5rem;
     }
 }

@media(max-width:1420px) {
   .layout__menu{
        height: 95vh;    
   } 


   .description__lenguaje li{
        font-size: 1.2rem;
    }
    .description__lenguaje{
        gap: 0.8rem;
    }

    .project__links p{
        line-height: 1.7rem;
    }

    .information__photo{
        flex-basis: 40%;
    }
    
    .information__info{
        flex-basis: 60%;
        padding-left: 10rem;
    }

    .photo__content{
        width: 40rem;
        height: 40rem;
    }




    @keyframes moveShape1{
        0%{
            transform: translateX(0) translateY(0);
        }
        25%{
            transform: translateX(900px);
        }
        50%{
            transform: translateX(900px) translateY(750px);
        }
    
        75%{
            transform: translateX(0px) translateY(700px);
        }
    
        100%{
            transform: translateX(500px) translateY(100px);
        }
    }
    @keyframes moveShape2{
        0%{
            transform: translateX(0) translateY(0);
        }
        25%{
            transform: translateX(-900px);
        }
        50%{
            transform: translateX(-900px) translateY(750px);
        }
    
        75%{
            transform: translateX(0px) translateY(700px);
        }
    
        100%{
            transform: translateX(-500px) translateY(100px);
        }
    }

    .layout__projects{
        padding: 12rem 10rem;
    }

    .layout__skills{
        padding: 10rem;
    }

}

@media(max-width:1360px) {
    .layout__menu{
        height: 89vh;
    } 
    

}


@media ( max-width:1290px){
     
    .layout{
        min-width: 992px;
    } 

    .layout__information{
        padding: 10rem 2rem;
    }

    .layout__menu{
        height: 85vh;
    } 
    


    .skills__header,
    .projects__header,
    .contact__header{
        font-family: 'Arimo';
        margin-bottom: 9rem;
        width: 70%;
    }
    .skills__title,
    .projects__title{
        font-size:4rem;
        font-weight: 700;
      
    }

    .description__title h3{
        font-size: 2.3rem;
    }
    .description__title h4{
        font-size: 1.3rem;
    }
    
    .description__lenguaje{
        display: flex;
        gap: 0.5rem;
    }
    .description__lenguaje li{
        padding:1px 8px;
        border-radius: 5px;
    }
   
    .layout__contact{
        position: relative;
        padding: none;
    }

    .container__formulario{
        padding: 0 1rem;
        flex-basis: 65%;
    }
    
    .container__image{
        flex-basis: 35%;
    }

    .container__image img{
        height: 80%;
    }
    .contact__subtitle{
        margin-left: 0;
    }
    

}





@media (max-width:1090px) {
   
    .layout__menu {
        height: 65vh;
    }

    .description__title h3 {
        font-size: 2rem;
    }

    .description__lenguaje{
        display: flex;
        flex-direction: column;
    }

    .description__lenguaje li {
        width: 50%;
        text-align: center;
    }
    .container__image img {
        height: 80%;
    }
}


@media (max-width:1000px){

    .navar__nav{
        display: none;
    }

    .info__name {
        width: 90%;
        font-size: 4.5rem;
    }
    

    .photo__content{
        margin-left: 2rem;
    }

    .navbar__mobile-btn{
        display: block;
    }
    

    .layout__menu {
        height: 58vh;
    }

    .menu__navar{
        justify-content: space-between;
    }

    .menu__navar--fixed {
        background-color: transparent;
        box-shadow: none;
    }

    .container__image img {
        height: 32%;
        width: 100%;
    }
    .project-image__information {
        padding: 4rem;
    }
    .container__project {
        width: calc(50% - 3rem);
    }

}

@media (max-width:900px){
    .layout__menu {
        height: 53vh;
    }

    .layout__information,
    .layout__skills,
    .layout__projects,
    .layout__contact, 
    .layout__footer
    {
        max-width: 90rem;
    }



    .projects__container {
        flex-direction: column;
    }
    
    .container__project {
        width: 100%;
    }

    .description__lenguaje {
        display: flex;
        flex-direction: row;
    }



    .project-image__information h3{
        font-size: 25px;
    }

    .project-image__information p{
        font-size: 20px;
    }


    .contact__container {
        display: flex;
        flex-direction: column;
    }

    .container__image img {
        margin-top: -40rem;
    }
    .container__formulario {
        padding: 0 1rem;
        flex-basis: 90%;
    }

    .layout__information {
       flex-direction: column;
       justify-content: center;
       padding: 10rem 8rem;
    }

    .information__info {
        flex-basis: 100%;
        padding-left: 0rem;
        text-align: center;
        margin-top: 5rem;
        padding: 0 5rem;
    }

    .photo__content {
        margin-left: 0;
        margin: 0 auto;
    }
    .info__name {
        width: 100%;
    }
    .info__description {
        width: 100%;
    }
  
}